*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.head{
    font-family:Arial, Helvetica, sans-serif;   
    font-size: 48px;
    margin-top: 50px;
    margin-left: 141px;
}
.detail
{
    color: rgba(0, 0, 0, 0.65);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 141px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 32px;
}
.pass{
    color: rgba(0, 0, 0, 0.65);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 141px;
    /* margin-top: 62px; */
    margin-bottom: 40px;
    font-size: 32px;
}
.name
{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    height: 60px;
    width: 440px;
    border: 1px solid rgba(0, 0, 0, 0.65);
    border-radius: 10px;
    margin-left: 141px;
    margin-bottom: 30px;
    padding-left: 30px;
}
.button
{
    height: 60px;
    width: 1095px;
    color: white;
    background: #123D6A;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-left: 140px;
    margin-bottom: 100px;
    border: 1px solid black;
    border-radius: 10px;
}
.button:hover{
    color: #123D6A;
    background-color: white;
    cursor: pointer;
}
@media(max-width: 1200px ) and (min-width: 400px){
    .button{
        width:477px;
        height: 60px;
    }
}
/* @media(max-width: 400)
{
    .name{
        margin-left: 80px;
    }
    .button{
        margin-left: 50px;
    }
} */

.warn{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    font-weight: 600;
    margin-left: 145px;
    margin-top: 21px;
    /* margin-bottom: 41px; */
}
.forget{
    font-family: Arial, Helvetica, sans-serif;
    color: #123D6A;
    font-size: 22px;
    font-weight: 600;
    margin-left: 435px;
    text-decoration: none;
}
.signin{
    margin: 27px 0px 0px 142px;
    height: 68px;
    width: 480px;
    background-color: #123D6A;
    color: white;
    font-family: Arial, Helvetica, sans-serif   ;
    font-size: 30px;
    border: 1px solid black;
    border-radius: 10px;
}
.signin:hover{
    cursor: pointer;
    color: #123D6A;
    background-color: white;
}

/* Reset_your_password_page */

.reset{
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-top: 70px;
}
.warning{
    color: red;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-right: 275px;
}

.box{
    height: 68px;
    width: 430px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.65);
    font-size: 30px;
    margin-bottom: 20px;
    padding-left: 30px;
}
.badadabba{
    display: flex;
    justify-content: center;
}
.dabba{
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.submit{
    margin-top: 30px;
    height: 68px;
    width: 450px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #123D6A;
}
.submit:hover{
    color: #123D6A;
    background-color: white;
    cursor: pointer;
}
.note{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.73);
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
@media(max-width: 470px){
    .submit{
        width: auto;
    }
    .dabba{
        width: 100px;
    }
}
.resend{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;   
    text-decoration: none;  
    padding-left: 310px;
}